<div class="dropright filter-dropdown">
    <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for category in site.data.categories %}
            <a class="dropdown-item" href="{{ category.link }}">{{ category.name }}</a>
        {% endfor %}
    </div>

    {% for category in site.data.categories %}
        {% if page.url == category.link %}
            <span id="category-text" class="badge badge-pill badge-light">{{ category.name }}</span>
        {% endif %}
    {% endfor%}
</div>