<div class="dropright filter-dropdown">
        <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
        </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for category in site.data.categories %}
            <a class="dropdown-item" href="{{ category.link }}">{{ category.name }}</a>
        {% endfor %}
    </div>

    {% for category in site.data.categories %}
        {% if page.url == category.link %}
            <span id="filter-category-name">{{ category.name }}</span>
        {% endif %}
    {% endfor%}
</div>