<footer class="footer">
    <div class="container">
        <p>
            {% if page.url == "/get-in-touch" %}
                <span class="text-muted">Get in touch</span>
            {% else %}
                <a href="/get-in-touch">Get in touch</a>
            {% endif %}
        </p>
        <p>
            <a href="http://twitter.com/{{ site.project_twitter_username }}" target=_blank>Follow @{{ site.title }}</a>
        </p>
        <small>
            <span>
                Developed and maintained by <a href="https://github.com/{{ site.github_username }}" target=_blank>{{ site.github_username }}</a>
            </span>
        </small>
    </div>
</footer>