<footer class="footer">
    <div class="container">
        <p>
            {% if page.url == "/contact" %}
                <span class="text-muted">Get in touch</span>
            {% else %}
                <a href="/contact">Get in touch</a>
            {% endif %}
        </p>
        <!-- <p>
            <a href="http://twitter.com/{{ site.project_twitter_username }}" target=_blank>Follow @{{ site.title }}</a>
        </p> -->
        <small>Dashibodi is a project by <a href="https://github.com/{{ site.github_username }}" target=_blank>{{ site.github_username }}</a> to develop and maintain a dashboard for Kenya.</small>
    </div>
</footer>