<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        jsonToComparisonBarChart(
            '/data/{{ page.data_file }}.json',
            '{{ page.data_key }}',
            '{{ page.x_key }}',
            {% if page.x_prefix == null %}null{% else %}'{{ page.x_prefix }}'{% endif %},
            {{ page.x_reverse }},
            {% if page.x_spacing == null %}null{% else %}'{{ page.x_spacing }}'{% endif %},
            '{{ page.y_key_1 }}',
            '{{ page.y_key_2 }}',
            {{ page.y_offset }},
            {% if page.y_divisor == null %}null{% else %}{{ page.y_divisor }}{% endif %},
            {{ page.start_step }},
            {{ page.end_step }},
            '{{ page.chart_id }}'
        );
    });
</script>