<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1><a class="navbar-brand font-weight-bold" href="/">{{ site.title }}</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about.html">about</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" aria-label="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
      </form>
    </div>
</nav> -->

<!-- <div class=row>
  <div class="col-md-6 col-xs-12"> -->
<h1 id="logo"><a href="/">{{ site.title }}</a></h1>

<!-- <nav>
  <ul>
    <li>
      <a href="">Home</a>
    </li>
    <li>
      <a href="">About</a>
    </li>
  </ul>
</nav> -->

<!-- <h1 class="logo"><a href="/">home</a></h1>
<h1 class="logo"><a href="/about">about</a></h1> -->
    <!-- <a href="/about.html">About</a>
  </div>
  <div class="col-md-6 col-xs-12">
    <form id="form-search">
      <input type="search" aria-label="search">
      <button type="submit">search</button>
    </form>
  </div>
</div> -->
