{% if paginator.total_pages > 1 %}
    <div class="chartlist-pagination">
        <p class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>

        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="btn btn-primary previous" role="button">Previous</a>
        {% else %}
        <!-- <a href="#" class="btn btn-dark disabled previous" role="button" aria-disabled="true">Previous</a> -->
        {% endif %}
        
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="btn btn-primary next" role="button">Next</a>
        {% else %}
        <!-- <a href="#" class="btn btn-dark disabled next" role="button" aria-disabled="true">Next</a> -->
        {% endif %}
    </div>
{% endif %}