body {
    h2,h3,h4,h5,.data-source {
        font-family: monospace;
    }

    a:hover {
        text-decoration: none;
    }
}

.posts-index {
    margin-bottom: 1em;
}

#logo {
    font-weight: 800;
    margin-bottom: 0;
}

nav {
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

.footer {
    border-top: 1px solid lightgray;
    margin-top: 1em;
    padding-top: 1em;
}

#four-oh-four {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}