body {
    // font-family: Helvetica, Arial, sans-serif;
    font-family: sans-serif;

    h2,h3,h4,h5,.ct-chart {
        font-family: monospace;
    }
    // font-family: 'Fira Sans', sans-serif;

    a {
        // color: darkgreen;
        text-decoration: none;
    }

    a:hover {
        // color: darkgreen;
        text-decoration: none;
    }
}

.posts-index {
    margin-bottom: 1em;
}

#logo {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-weight: 800;
    // a {
    //     color: grey
    // }
}

.footer {
    // background-color:gray;
    // border-top-color: grey !important;
    // border-top: 1px;
    border-top: 1px solid lightgray;
    margin-top: 1em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

// nav {
//     // margin-top: 0.em;
//     margin-bottom: 1em;
//     ul {
//         list-style-type: none;
//         margin: 0;
//         padding: 0;
//         li {
//             display: inline;
//             margin-right: 1em;
//         }
//     }
// }