html {
    overflow-y: scroll;
}

body {
    background-color: #25292D;
    font-family: 'Roboto', sans-serif;
}

#logo {
    font-weight: 900;
    margin-bottom: 0;
    a {
        color: #25292D;
        &:hover {
            text-decoration: none;
        }
    }
}

nav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #F2F1F2;
}

.filter-dropdown {
    margin-bottom: 1em;
}

.filter-link {
    margin: 0;
    padding: 0;
}

#filter-category-name {
    margin-left: 0.5em;
}

#link-to-home {
    margin-bottom: 1em;
}

.content-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #ffffff;
}

.footer {
    padding-top: 2em;
    padding-bottom: 2em;
    color: silver;
    a {
        color: #f5f5f5;
    }
    a:hover {
        color: white;
    }
}

.data-table {
    padding-top: 2em;
    text-align: center;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: #25292D;
}

.series-a-key {
    background-color: #e90000;
    height: 1em;
    width: 1em;
    display:inline-block;
}

.series-b-key {
    background-color: #25292D;
    height: 1em;
    width: 1em;
    display:inline-block;
}

.key-wrapper {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
    span {
        padding-right: 1em;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

.card-body {
    padding: 1rem;
}

#contact-form {
    padding-bottom: 1em;
}

.source {
    font-size: 0.9em;
}