---
layout: chart
author: Paul
unit: (KSh, trillion)
categories: [economy]
description: "Kenya's total public debt from Sep 2008 to Sep 2018."
title: Public Debt
excerpt_separator: <!--more-->
chart_function: jsonToLineChart
data_file: debt
data_key: debt_data
x_key: year
x_prefix: month
x_reverse: false
y_key: total_debt
y_offset: 30
y_divisor: 1e12
start_step: 0
end_step: 10
chart_id: public-debt-chart
smoothed: true
show_area: true
table_col_1: Year
table_col_2: Month
table_col_3: Public Debt
---

<div class="ct-chart ct-minor-sixth" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }}</th>
                <th scope="col">{{ page.table_col_3 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.start_step..page.end_step) %}
                <tr>
                    <td>{{ data[i][page.x_key] }} </td>
                    <td>{{ data[i][page.x_prefix] | slice: 0, 3 }} </td>
                    <td>{{ data[i][page.y_key] | divided_by: site.data.large-numbers.trillion | slice: 0,4 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>