---
layout: chart
author: Paul
unit: "(%)"
categories: [counties,economy]
description: "Kenya's top 10 counties based on average Gross County Product (GCP) growth rates between 2014 and 2017."
title: "GCP Growth Rate - Top 10 Counties [Chart]"
excerpt_separator: <!--more-->
chart_function: jsonToChart
chart_type: bar
data_file: gcp-growth
data_key: gcp_growth_data
label_key: county
label_values_prefix: null
label_values_reversed: true
x_position_top: false
horizontal_bars: true
series_key: avg_growth_rate_14_17
y_axis_offset: 65
series_divisor: null
start_step: 9
end_step: 0
chart_id: gcp-growth-chart
table_col_1: County
table_col_2: Average GCP Growth Rate between 2014 and 2017
image: /assets/images/gcp-growth.png
---

<div class="ct-chart ct-square" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% if page.horizontal_bars == true %}
    <div class="unit unit-right-aligned">{{ page.unit }}</div>
{% endif %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.end_step..46) %}
                <tr>
                    <td>{{ i | plus: 1 }}</td>
                    <td>{{ data[i][page.label_key] }} </td>
                    <td>{{ data[i][page.series_key] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h6>Notes:</h6>
<ul>
    <li>
            The average Gross County Product (GCP) growth rate across all 47 counties between 2014 and 2017 was 5.6%.
    </li>
</ul>