---
layout: chart
author: Paul
unit: (KSh, trillion)
categories: [economy,counties]
description: "Kenya's top 10 counties based on Gross County Product (GCP) in 2017."
title: GCP - Top 10 Counties
excerpt_separator: <!--more-->
chart_function: jsonToChart
chart_type: bar
data_file: gcp
data_key: gcp_data
label_key: county
label_values_prefix: null
label_values_reversed: true
x_position_top: false
horizontal_bars: true
series_key: gcp_2017
y_axis_offset: 55
series_divisor: 1e12
start_step: 9
end_step: 0
chart_id: gcp-shares-chart
table_col_1: County
table_col_2: GCP
image: /assets/images/gcp.png
---

<div class="ct-chart ct-square" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.end_step..46) %}
                <tr>
                    <td>{{ i | plus: 1 }}</td>
                    <td>{{ data[i][page.label_key] }} </td>
                    <td>{{ data[i][page.series_key] | divided_by: site.data.large-numbers.trillion | slice: 0, 5 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h6>Notes:</h6>
<ul>
    <li>
        Gross County Product (GCP) is a geographic breakdown of Kenya’s Gross Domestic Product (GDP) that gives an estimate of the size and structure of county economies. It also provides a benchmark for evaluating the growth of county economies over time.
    </li>
</ul>