---
layout: chart
author: Paul
unit: (People, million)
categories: [demographics]
description: Kenya's population estimates and projections from 2014 to 2024.
title: Population
excerpt_separator: <!--more-->
chart_function: jsonToChart
chart_type: line
data_file: population
data_key: population_data
label_key: year
label_values_prefix: null
label_values_reversed: false
x_axis_label_spacing: null
series_key: population
y_axis_offset: 30
series_divisor: 1e6
start_step: 15
end_step: 25
chart_id: population-chart
smooth_line: true
show_area: true
show_point: true
table_col_1: Year
table_col_2: Population
image: /assets/images/population.png
---

<div class="ct-chart ct-minor-sixth" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.start_step..page.end_step) %}
                <tr>
                    <td>{{ data[i][page.label_key] }} </td>
                    <td>{{ data[i][page.series_key] | divided_by: site.data.large-numbers.million | slice: 0, 5 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h6>Notes:</h6>
<ul>
    <li>
        The data above was sourced from the 2017 revision of the UN World Population Prospects (UN WPP). It is the twenty-fifth round of official United Nations population estimates and projections that have been prepared by the Population Division of the Department of Economic and Social Affairs of the United Nations Secretariat.
    </li>
</ul>