---
layout: chart
author: Paul
unit: "(KSh, trillion)"
categories: [economy, ict]
description: "Value of mobile money versus card transactions in Kenya from 2010 and 2018."
title: "Mobile Money vs. Card Transactions [Chart]"
excerpt_separator: <!--more-->
series-a: Mobile Money
series-b: Cards
chart_function: jsonToChart
chart_type: bar
data_file: 2019-04-18-mobile-money-vs-cards
data_key: mobile_money_card_data
label_key: year
label_values_prefix: null
label_values_reversed: true
x_axis_label_spacing: null
series_key: value_of_mobile_money_transactions
series_key_2: value_of_card_transactions
series_bar_distance: 8
y_axis_offset: 25
series_divisor: 1e12
start_step: 8
end_step: 0
chart_id: mobile-money-vs-cards-chart
table_col_1: Year
table_col_2: Mobile Money
table_col_3: Cards
image: /assets/images/mobile-money-vs-cards.png
---

<div class="ct-chart ct-perfect-fifth" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% if page.horizontal_bars == true %}
    <div class="unit unit-right-aligned">{{ page.unit }}</div>
{% endif %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
                <th scope="col">{{ page.table_col_3 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.end_step..page.start_step) %}
                <tr>
                    <td>{{ data[i][page.label_key] }} </td>
                    <td>{{ data[i][page.series_key] | divided_by: site.data.large-numbers.trillion | slice: 0,4 }}</td>
                    <td>{{ data[i][page.series_key_2] | divided_by: site.data.large-numbers.trillion | slice: 0,4 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h6>Notes:</h6>
<ul>
    <li>
        Cards include ATM Cards, Prepaid Cards, Charge Cards, Credit Cards and Debit Cards.
    </li>
</ul>