---
layout: chart
author: Paul
unit: (KSh, trillion)
categories: [economy, counties]
description: "Kenya's top 10 counties by Gross County Product (GCP) in 2017."
title: Gross County Product - Top 10 Counties
excerpt_separator: <!--more-->
chart_function: jsonToBarChart
data_file: gcp
data_key: gcp_data
x_key: county
x_prefix: null
x_reverse: false
x_position_top: false
x_slanted: true
y_key: gcp_2017
y_offset: 30
y_divisor: 1e12
start_step: 0
end_step: 9
chart_id: gcp-shares-chart
table_col_1: County
table_col_2: Gross County Product
---

<div class="ct-chart ct-minor-sixth slanted-labels-barchart" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.start_step..page.end_step) %}
                <tr>
                    <td>{{ data[i][page.x_key] }} </td>
                    <td>{{ data[i][page.y_key] | divided_by: site.data.large-numbers.trillion | slice: 0, 5 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h6>Notes:</h6>
<ul>
    <li>
        Gross County Product (GCP) is a geographic breakdown of Kenya’s Gross Domestic Product (GDP) that gives an estimate of the size and structure of county economies. It also provides a benchmark for evaluating the growth of county economies over time.
    </li>
</ul>