---
layout: chart
author: Paul
unit: "(KSh, trillion)"
categories: [economy]
description: "Kenya's public debt from September 2000 to September 2018."
title: "Public Debt [Chart]"
excerpt_separator: <!--more-->
chart_function: jsonToChart
chart_type: line
data_file: 2019-04-12-debt
data_key: debt_data
label_key: year
label_values_prefix: month
label_values_reversed: false
x_axis_label_spacing: 3
series_key: total_debt
y_axis_offset: 15
series_divisor: 1e12
start_step: 0
end_step: 18
chart_id: public-debt-chart
smooth_line: true
show_area: true
show_point: true
table_col_1: Year
table_col_2: Month
table_col_3: Public Debt
image: /assets/images/public-debt.png
---

<div class="ct-chart ct-perfect-fifth" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }}</th>
                <th scope="col">{{ page.table_col_3 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.start_step..page.end_step) reversed %}
                <tr>
                    <td>{{ data[i][page.label_key] }} </td>
                    <td>{{ data[i][page.label_values_prefix] | slice: 0, 3 }} </td>
                    <td>{{ data[i][page.series_key] | divided_by: site.data.large-numbers.trillion | slice: 0,4 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>