---
layout: chart
author: Paul
unit: "(%)"
categories: [economy]
description: "[CHART] Kenya's public debt to GDP ratio from December 2001 to December 2017."
title: "Public Debt to GDP Ratio"
excerpt_separator: <!--more-->
chart_function: jsonToChart
chart_type: line
data_file: 2019-04-11-debt-gdp
data_key: debt_gdp_data
label_key: year
label_values_prefix: month
label_values_reversed: true
x_axis_label_spacing: 4
series_key: debt_to_gdp_ratio
y_axis_offset: 25
series_divisor: null
start_step: 16
end_step: 0
chart_id: debt-to-gdp-chart
smooth_line: true
show_area: false
show_point: true
table_col_1: Year
table_col_2: Month
table_col_3: Public Debt to GDP Ratio
image: /assets/images/debt-gdp.png
---

<div class="ct-chart ct-perfect-fifth" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }}</th>
                <th scope="col">{{ page.table_col_3 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.end_step..page.start_step) %}
                <tr>
                    <td>{{ data[i][page.label_key] }} </td>
                    <td>{{ data[i][page.label_values_prefix] | slice: 0, 3 }} </td>
                    <td>{{ data[i][page.series_key] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>