---
layout: chart
author: Paul
unit: ""
topic: cpi
categories: [economy]
description: "Kenya's annual average Consumer Price Index (CPI) from 2008 to 2018. NB: The base period is February 2009."
title: CPI
excerpt_separator: <!--more-->
data-file: cpi
---

<div class="ct-chart ct-minor-sixth" id="{{ page.topic }}chart"></div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        jsonToLineChart('/json/cpi.json','cpi_data','year',false,'average_cpi',null,0,10,'cpichart',false);
    });
</script>

{% include chart-description.html %}

<!--more-->

{% assign data-file = page.data-file %}
{% assign sources = site.data[data-file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign cpi_data = site.data.cpi.cpi_data %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">CPI</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (0..10) %}
                <tr>
                    <td>{{ cpi_data[i].year }} </td>
                    <td>{{ cpi_data[i].average_cpi }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>