---
layout: chart
author: Paul
unit: (KSh, trillion)
topic: gdp
categories: [economy]
description: "Kenya's nominal and real Gross Domestic Product (GDP) from 2009 to 2017. NB: The real GDP figures are based on 2009 prices."
title: GDP
excerpt_separator: <!--more-->
series-a: Nominal
series-b: Real
data-file: gdp
image: /assets/images/gdp.png
---

<div class="ct-chart ct-minor-sixth" id="{{ page.topic }}chart"></div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        jsonToComparisonBarChart('/json/gdp.json','gdp_data','year',false,'nominal_gdp','real_gdp',30,1e12,8,16,'gdpchart');
    });
</script>

{% include key.html %}

{% include chart-description.html %}

<!--more-->

{% assign data-file = page.data-file %}
{% assign sources = site.data[data-file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign gdp_data = site.data.gdp.gdp_data %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Nominal GDP {{ page.unit }}</th>
                <th scope="col">Real GDP {{ page.unit }}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (8..16) %}
                <tr>
                    <td>{{ gdp_data[i].year }} </td>
                    <td>{{ gdp_data[i].nominal_gdp | divided_by: site.data.large-numbers.trillion | slice: 0, 5 }}</td>
                    <td>{{ gdp_data[i].real_gdp | divided_by: site.data.large-numbers.trillion | slice: 0, 5 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h6>Notes:</h6>
<ul>
    <li>
        Real GDP figures for years 2009 to current are based on 2009 prices (i.e. 2009=100)
    </li>
</ul>