---
layout: chart
author: Paul
unit: ""
topic: nse-20-share-index-
categories: [economy]
description: "Nairobi Stock Exchange's NSE-20 Share Index monthly average from Oct 2017 to Oct 2018."
title: NSE-20 Share Index - Monthly Average
excerpt_separator: <!--more-->
data-file: nse
data-key: nse_data
---

<div class="ct-chart ct-minor-sixth" id="{{ page.topic }}chart"></div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        jsonToLineChart('/json/nse.json','nse_data','year','month',false,'nse_20_share_index',40,null,9,21,'nse-20-share-index-chart',false);
    });
</script>

{% include chart-description.html %}

<!--more-->

{% assign data-file = page.data-file %}
{% assign sources = site.data[data-file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data-key = page.data-key %}
    {% assign nse_data = site.data[data-file][data-key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Month</th>
                <th scope="col">{{ page.title }}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (9..21) %}
                <tr>
                    <td>{{ nse_data[i].year }}</td>
                    <td>{{ nse_data[i].month | slice: 0, 3 }} </td>
                    <td>{{ nse_data[i].nse_20_share_index }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>