---
layout: chart
author: Paul
unit: (KSh, trillion)
topic: domesticvsexternaldebt
categories: [economy]
description: Kenya's domestic versus external public debt over the last 10 years.
title: Public Debt - Domestic vs External
excerpt_separator: <!--more-->
series-a: Domestic
series-b: External
---
<div class="ct-chart ct-minor-sixth" id="{{ page.topic }}chart"></div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        jsonToComparisonLineChart('/json/public-debt.json','debt_data','year',true,'domestic_debt','external_debt',1e12,10,0,'domesticvsexternaldebtchart');
    });
</script>

{% include key.html %}

{% include chart-description.html %}

{% assign source = site.data.public-debt.source %}
{% assign source_url = site.data.public-debt.source_url %}
{% include source.html %}

<!--more-->

<div class="data-table table-responsive">
    {% assign debt_data = site.data.public-debt.debt_data %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Month</th>
                <th scope="col">Public Debt - Domestic {{ page.unit }}</th>
                <th scope="col">Public Debt - External {{ page.unit }}</th>
            </tr>
        </thead>
        <tbody>
            {% for data in debt_data %}
                <tr>
                    <td>{{ data.year }}</td>
                    <td>{{ data.month | slice: 0, 3 }}</td>
                    <td>{{ data.domestic_debt | divided_by: site.data.large-numbers.trillion | slice: 0, 4 }}</td>
                    <td>{{ data.external_debt | divided_by: site.data.large-numbers.trillion | slice: 0, 4 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>