---
layout: chart
author: Paul
unit: (KSh, trillion)
topic: publicdebt
categories: [economy]
description: A chart showing the trend of Kenya's total public debt over the last 10 years.
title: Public Debt
excerpt_separator: <!--more-->
---
<div class="ct-chart ct-minor-sixth" id="{{ page.topic }}chart"></div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        jsonToLineChart('/json/public-debt.json','debt_data','year',true,'total_debt',null,10,0,'publicdebtchart','publicdebtlink');
    });
</script>

{% include source.html %}

<!--more-->

<div class="data-table table-responsive">
    {% assign debt_data = site.data.public-debt.debt_data %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Month</th>
                <th scope="col">Public Debt {{ page.unit }}</th>
            </tr>
        </thead>
        <tbody>
            {% for data in debt_data %}
                <tr>
                    <td>{{ data.year }}</td>
                    <td>{{ data.month | slice: 0, 3 }}</td>
                    {% if data.total_debt contains 'e0' %}
                        <td>{{ data.total_debt | slice: 0, 4 }}</td>
                    {% elsif data.total_debt contains 'e1' %}
                        <td>{{ data.total_debt | slice: 0, 5 | times: 10 }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>