---
layout: chart
author: Paul
unit:
categories: []
description:
title:
excerpt_separator: <!--more-->
chart_function: jsonToLineChart
data_file:
data_key:
x_key:
x_prefix:
x_reverse:
y_key:
y_offset:
y_divisor:
start_step:
end_step:
chart_id:
smoothed:
show_area:
table_col_1:
table_col_2:
---

<div class="ct-chart ct-minor-sixth" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.start_step..page.end_step) %}
                <tr>
                    <td>{{ data[i][page.x_key] }} </td>
                    <td>{{ data[i][page.y_key] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>