---
layout: chart
author: Paul
unit:
categories: []
description: ""
title: " [Chart]"
excerpt_separator: <!--more-->
chart_function: jsonToChart
chart_type: line
data_file:
data_key:
label_key:
label_values_prefix:
label_values_reversed:
x_axis_label_spacing:
series_key:
y_axis_offset:
series_divisor:
start_step:
end_step:
chart_id:
smooth_line:
show_area:
show_point:
table_col_1:
table_col_2:
image: /assets/images/
---

<div class="ct-chart ct-perfect-fifth" id="{{ page.chart_id }}"></div>

{% include {{ page.chart_function }}.html %}

{% include chart-description.html %}

<!--more-->

{% assign sources = site.data[page.data_file]['sources'] %}
{% include source.html %}

<div class="data-table table-responsive">
    {% assign data = site.data[page.data_file][page.data_key] %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{{ page.table_col_1 }}</th>
                <th scope="col">{{ page.table_col_2 }} {% if page.unit %}{{ page.unit }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in (page.start_step..page.end_step) reversed %}
                <tr>
                    <td>{{ data[i][page.label_key] }} </td>
                    <td>{{ data[i][page.series_key] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>